body {
  font-family: "Arial", sans-serif;
  font-size: x-large;
  background: #111;
  color: #eee;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 5em;
  margin-bottom: 20px;
}

footer {
  font-size: 0.8em;
  color: #555;
}