body {
  font-family: "Arial", sans-serif;
  font-size: x-large;
  background: #292b90;
  color: #eee;
  padding: 40px;
  text-align: center;
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
  font-size: 5em;
  margin-bottom: 20px;
}

footer {
  font-size: 0.8em;
  color: #555;
  background-color: #222222;
  display: block;
  padding: 20px;
}