body {
  font-family: monospace;
  font-size: x-large;
  background: #343444;
  color: #5a7bc9;
  text-align: center;
  height: 100%;
  margin: 0;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  margin-top: 80px;
  font-size: 150px;
  color: #5a7bc9;
}

.projects {
  margin-top: -50px;
  font-size: 40px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

img {
  align-self: center;
  transform: scale(.35);
  outline-style: solid;
  outline-color: #222222;
  outline-width: 8px;
}

.deca-images {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: -50px;
}

img:first-child {
  grid-column: 1;
}

img:second-child {
  grid-column: 2;
}

article {
  align-self: center;
  border: 8px solid #222222;
  border-radius: 12px;
  padding: 24px;
  background: #323234;
  box-shadow: 0 0 40px #395084;
  max-width: 400px;
  max-height: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}

footer {
  font-size: 0.9em;
  color: #555;
  background-color: #222222;
  display: block;
  padding: 30px;
}